h1{

    color: rgb(2, 182, 17);
    font-size: 55px;
    margin-bottom: -2px;
    text-decoration: underline;
}

h2{
    color: orangered
}

h4{
    color: rgb(240, 17, 17);
    margin-bottom: -10px;
    font-size: 25px;
}

em{
    font-style : italic;
}

p{
    margin-bottom: -7px;
}

.q1{
    font-weight: 800;
    font-size: 30px;
    color:rgb(255, 0, 0);
    text-decoration: underline;
}

.q2{
    font-weight: 800;
    font-size: 30px;
    color: rgb(131, 3, 3);
    text-decoration: underline;
}

.q3{
    color: darkgreen;
    font-weight: 900;
}

.q4{
    color: green;
    font-weight: 900;
}

.q5{
    color: rgb(219, 109, 6);
    font-weight: 900;
}

.q6{
    color: rgb(114, 43, 2);
    font-weight: 900;
}

.q7{
    color: red;
    font-weight: 900;
}

.pie{
    width: 150px; height: 150px;
    border-radius: 50%;
    background: conic-gradient(rgb(255, 0, 0) 20%, rgb(170, 255, 0) 0);
    margin-left: 25%;
    
}

body{
    background-color: rgba(116, 180, 199, 0.699);
}
