h1 {

    color: rgba(68, 211, 25, 0.733);
    font-size: 55px;
    margin-bottom: -2px;
    text-decoration: underline;}

em{
    font-style : italic;
}

.q1{
    font-weight: 800;
    font-size: 30px;
    color:red;
    text-decoration: underline;
}

.q2{
    font-weight: 800;
    font-size: 30px;
    color: rgb(131, 3, 3);
    text-decoration: underline;
}

.q3{
    color: darkgreen;
    font-weight: 800;
}

.q4{
    color: green;
    font-weight: 800;
}

.q5{
    color: rgb(255, 145, 0);
    font-weight: 800;
}

.q6{
    color: rgb(114, 43, 2);
    font-weight: 800;
}

.q7{
    color: red;
    font-weight: 800;
}